:root {
  --edges-color: #3a7563;
  --main-light: #e6d3a7;
  --text-dark:  #392f2f;
  --text-light: rgb(191, 191, 191);
  --confirmation-color: #7cab96;
}

html {
  height: 100%;
}

/* basic set up of page. trying out css alphabetical */
body {
  background-color: var(--main-light);
  color: var(--text-dark);
  display: flex;
  flex-flow: column;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h1 {
  font-size: 2.25em;
  margin: 2%;
  text-align:center;
  text-decoration: underline;
}

a {
  color: var(--text-dark);
  text-decoration: 0;
  padding: 0%;
}

a:hover {
  opacity: 50%;
}

p {
  margin: 2%;
  text-align: center;
}

.header, .footer{
  background-color: var(--edges-color);
  padding: 5%;
}

.header-nav {
  display: flex;
  justify-content:space-between;
}

.header-nav li {
  background-color: var(--main-light);
  border-radius: 8px;
  padding: 2%;
}

.main {
  display:flex;
  margin: 10%;
  justify-content: center;
  border: 2px solid var(--edges-color);
  border-radius: 5px;
}

.main-zone {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5%;
}

.btn {
  background-color: var(--edges-color);
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.25em;
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
  transition: opacity .25s;
  transition: box-shadow .25s ease-in-out;
}

.btn:hover {
  opacity:75%;
  box-shadow: 3px 3px 10px 2.5px rgb(63, 63, 63);

}


.footer {
  display: flex;
  justify-content: center;
}

.footer p {
  background-color: var(--main-light);
  border-radius: 1px;
  padding: 1%;
}

.highscore-main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5%;
}

.nav-btns {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  
}

.nav-btns .btn {
  margin: 20px 20px;
  font-size: 1em;
  white-space: nowrap;
}

/* media query for tablets and desktop */

@media screen and (min-width: 650px) {
  .header {
    padding: 2%;
  }
  .header-nav {
    flex-flow: row;
    justify-content: space-between;
  }
  
  .header-nav li {
    padding: .5%;
  }

  .footer {
    padding: 0;
  }

}